<a (click)="onClick(this.name)">
<mat-card appMaterialElevation class="example-card" dir="rtl">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{this.name}}</mat-card-title>
    <mat-card-subtitle>{{this.desc}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>
</a>
