.example-spacer {
  flex: 1 1 auto;
}

.nav {
  background: #673ab7;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  color: #fff;
}

.padding-body {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 13px;
  margin-top: -50px;
  margin-left: 180px;
  width: 15em;
}

.tom {
  margin: 13px;
}
