<mat-toolbar dir="rtl" class="nav">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>camera</mat-icon>
  </button>
  <span>תם לוין</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="mat-focus-indicator docs-button docs-navbar-hide-small mat-button mat-button-base" aria-label="Example icon-button with share icon">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
</mat-toolbar>

<div class="padding-body">
  <app-tom-card class="tom" *ngFor="let item of this.itemslist"
  icon="{{item.icon}}" name="{{item.name}}" desc="{{item.desc}}"></app-tom-card>
</div>
