/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: 'Lucida Sans';
  margin: 0;
  /* padding: 30px; */
}

.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

